<!-- templates/article_detail.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="article-entry">
        <h2>{{ object.title }}</h2>
        <p>Category: {{ object.category }}</p>
        <p>by {{ object.author }} | {{ object.date }}</p>
        <p>{{ object.body|safe }}</p>
        <p>Nature of Post: {{ sentimentalAnanlysis }}
    </div>

    
       

    <!-- LIKES -->
{% if user.is_authenticated %}
  <form action="{% url 'article_like' article.pk %}" method="POST">
    {% csrf_token %}

    {% if post_is_liked %}
    <button type="submit" name="article_id" value="{{article.id}}" class="btn btn-info">Unlike</button>
    {% else %}
    <button type="submit" name="article_id" value="{{article.id}}" class="btn btn-info">Like</button>
    {% endif %}
  </form>
{% else %}
  <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
{% endif %}
<strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>
 <p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>
    <br/><br/>
    <hr>
    <br/>
    
{% endblock content %}